@use '@/styles/variables' as *;

:root {
	--font-inter: 'Inter', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family:
		var(--font-inter),
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		sans-serif;
	background-color: #ffffff;
	color: #111827;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	font-family: inherit;
	cursor: pointer;
	border: none;
	background: none;
}
