@use '@/styles/variables' as *;

.loadingContainer {
	display: flex;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: $color-bg;

	.text {
		font-size: 1.2rem;
		font-family: sans-serif;
		color: $color-text-secondary;
		animation: pulse 1.5s infinite ease-in-out;

		&.admin {
			color: $color-primary;
			font-weight: 700;
		}
	}
}

@keyframes pulse {
	0% {
		opacity: 0.6;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.6;
	}
}
