$breakpoint-xs: 375px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1920px;

@mixin xs {
	@media (min-width: $breakpoint-xs) {
		@content;
	}
}

@mixin sm {
	@media (min-width: $breakpoint-sm) {
		@content;
	}
}

@mixin md {
	@media (min-width: $breakpoint-md) {
		@content;
	}
}

@mixin lg {
	@media (min-width: $breakpoint-lg) {
		@content;
	}
}

@mixin xl {
	@media (min-width: $breakpoint-xl) {
		@content;
	}
}

@mixin xxl {
	@media (min-width: $breakpoint-xxl) {
		@content;
	}
}

@mixin max-xs {
	@media (max-width: #{$breakpoint-xs - 1}) {
		@content;
	}
}

@mixin max-sm {
	@media (max-width: #{$breakpoint-sm - 1}) {
		@content;
	}
}

@mixin max-md {
	@media (max-width: #{$breakpoint-md - 1}) {
		@content;
	}
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin size($size) {
	width: $size;
	height: $size;
}
