@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.layoutWrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 60px;
}

.pageHeader {
	margin-bottom: 24px;
	h1 {
		font-size: 1.8rem;
		font-weight: 800;
		color: $color-text-main;
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 32px;

	@include lg {
		grid-template-columns: 1fr 380px; // Prawa kolumna stała szerokość
	}
}

.itemsList {
	background: white;
	border-radius: 16px;
	border: 1px solid $color-border;
	overflow: hidden;
	height: fit-content; // Ważne, żeby nie rozciągał się niepotrzebnie
}

// --- EMPTY STATE ---
.emptyContainer {
	min-height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.emptyContent {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	.iconCircle {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #f3f4f6;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #9ca3af;
		margin-bottom: 24px;
	}

	h1 {
		font-size: 1.5rem;
		font-weight: 800;
		color: $color-text-main;
		margin-bottom: 8px;
	}
	p {
		color: $color-text-secondary;
		margin-bottom: 32px;
	}

	.shopBtn {
		background-color: $color-primary;
		color: white;
		padding: 12px 32px;
		border-radius: 99px;
		font-weight: 600;
		transition: background 0.2s;
		&:hover {
			background-color: darken($color-primary, 5%);
		}
	}
}
