.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3; // Lub 1/1 zależnie od designu
  border-radius: 16px;
  overflow: hidden;
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;

  .image {
    object-fit: cover; // cover przycina, contain pokazuje całość
  }
}