@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.header {
	.date {
		font-size: 0.85rem;
		color: #6b7280;
	}
	.title {
		font-size: 1.8rem;
		font-weight: 800;
		color: $color-text-main;
		margin-top: 4px;
		line-height: 1.2;
	}
}

.priceMobile {
	font-size: 1.5rem;
	font-weight: 700;
	color: $color-text-main;
	margin-top: 8px;
	display: block;
	@include md {
		display: none;
	} // Na desktopie cena jest w Sidebarze
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.tag {
	display: flex;
	align-items: center;
	gap: 6px;
	background-color: #f9fafb;
	padding: 8px 12px;
	border-radius: 8px;
	font-size: 0.9rem;
	color: #4b5563;

	strong {
		color: $color-text-main;
		font-weight: 600;
	}
}

.divider {
	height: 1px;
	background: #e5e7eb;
	width: 100%;
}

.description {
	h3 {
		font-size: 1.2rem;
		font-weight: 700;
		margin-bottom: 12px;
	}
	p {
		line-height: 1.6;
		color: #374151;
		white-space: pre-line; // Zachowuje akapity z bazy
	}
}
