@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.wrapper {
	min-height: 100vh;
	background-color: #f9fafb;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	@include lg {
		flex-direction: row;
		align-items: flex-start;
	}
}

.mainContent {
	flex: 1;
	min-width: 0;
	padding: 24px 16px;

	@include md {
		padding: 32px;
	}
}
