@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
	display: flex;
	background-color: $color-bg;
	flex-direction: column;

	@include lg {
		flex-direction: row;
	}
}

.mainContent {
	flex: 1;
	width: 100%;
}
