@use '@/styles/variables' as *;

.list {
	display: flex;
	flex-direction: column;
}

.emptyState {
	padding: 60px 20px;
	text-align: center;
	color: #9ca3af;
	display: flex;
	flex-direction: column;
	align-items: center;

	h3 {
		margin-top: 16px;
		color: $color-text-main;
		font-weight: 600;
	}
	p {
		font-size: 0.9rem;
		margin-top: 4px;
	}
}
