@use '@/styles/variables' as *;

.container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-bg;
}

.spinner {
	width: 48px;
	height: 48px;
	color: $color-primary;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
