@use '@/styles/variables' as *;

.summaryCard {
	background: white;
	border-radius: 16px;
	border: 1px solid $color-border;
	padding: 24px;
	position: sticky;
	top: 100px;

	h3 {
		font-size: 1.2rem;
		font-weight: 700;
		margin-bottom: 24px;
		color: $color-text-main;
	}
}
.rows {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.row {
	display: flex;
	justify-content: space-between;
	font-size: 0.95rem;
	color: $color-text-secondary;

	&.total {
		color: $color-text-main;
		font-weight: 800;
		font-size: 1.2rem;
		margin-top: 4px;
	}
}

.divider {
	height: 1px;
	background-color: $color-border;
	margin: 20px 0;
}

.checkoutBtn {
	width: 100%;
	margin-top: 24px;
	background-color: $color-primary;
	color: white;
	padding: 14px;
	border-radius: 12px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	transition: background 0.2s;

	&:hover {
		background-color: darken($color-primary, 5%);
	}
}
